{% extends 'main.html' %}

{% block content %}

    <div>

        <div class="shadow p-5 mt-5 mb-5 bg-white rounded" id="resultsTable" style="overflow: auto;">
                
                <h1>Clinical Trial Information</h1>

        </div>
        
        <div class="shadow p-5 mt-5 mb-5 bg-white rounded" id="resultsTable" style="overflow: auto;">
            <div class="clinical-trial-info">
                
                <h2>Understanding Clinical Trials</h2>                    
                <p>Clinical trials are research studies that involve human volunteers. They are essential for advancing medical knowledge and improving healthcare. Here are some key points to destigmatize clinical trials:</p>                    
                <ul>                    
                    <li>Clinical trials help develop new treatments and medications.</li>                    
                    <li>Participants receive close medical supervision and care.</li>                    
                    <li>Every clinical trial is thoroughly reviewed for safety and ethics.</li>                    
                    <li>Volunteers play a crucial role in advancing medical science.</li>
                </ul>                
            </div>
        </div>      

        <div class="shadow p-5 mt-5 mb-5 bg-white rounded" id="resultsTable" style="overflow: auto;">
            <div class="clinical-trial-info">                
                <h2>Why Participate in Clinical Trials?</h2>                
                <p>There are several benefits to participating in clinical trials:</p>                
                <ul>                
                    <li>Access to cutting-edge treatments not yet available to the public.</li>                    
                    <li>Close monitoring and care from medical experts.</li>                    
                    <li>Contribution to scientific progress and the development of better treatments.</li>                    
                    <li>Potential for improved personal health outcomes.</li>                
                </ul>                
            </div>
        </div>

        <div class="shadow p-5 mt-5 mb-5 bg-white rounded" id="resultsTable" style="overflow: auto;">          
            <div class="clinical-trial-info">                
                <h2>What It Means to Be a Part of a Clinical Trial</h2>                    
                <p>When you participate in a clinical trial, you become an essential part of the research process. Here's what it means:</p>                    
                <ul>                    
                    <li>You'll work closely with healthcare professionals who will monitor your health throughout the trial.</li>                        
                    <li>Your safety and well-being are a top priority, and the trial is conducted following strict ethical and regulatory guidelines.</li>                        
                    <li>Your participation helps researchers gather valuable data to assess the safety and effectiveness of new treatments.</li>                        
                    <li>You may have the opportunity to access potentially life-changing treatments before they are widely available.</li>                        
                    <li>Your contribution to medical science can benefit future generations.</li>                    
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}