{% extends 'main.html' %} 

{% block content %}

<div class="shadow p-5 mt-5 mb-5 bg-white rounded" id="resultsTable" style="overflow: auto;">
    <div class="center">
        <p><strong>Username:</strong> {{user.username}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
    
        {% if user.first_name %}
            <p><strong>First Name:</strong> {{user.first_name}}</p>
        {% endif %}
    
        {% if user.last_name %}
        <p><strong>Last Name:</strong> {{user.last_name}}</p>
        {% endif %}
            
        <a href="{%url 'update-profile' %}" class="btn btn-primary">Update Profile</a>
        
        </form>
    </div>
</div>

{% endblock content %}