{% extends 'main.html' %}

 
{% block content %}
<div class="shadow p-5 mt-5 mb-5 bg-white rounded" id="resultsTable" style="overflow: auto;">
<h2>Saved Studies</h2>
</div>


    {% for study in singleResults %}
    <a class="saved_links text-decorate-none" href="{% url 'single_result' study.nctId %}">
        <div class="shadow p-5 mt-5 mb-5 bg-white rounded" id="singleResultsTable" style="overflow: auto;">
            <p>Study Title: {{ study.BriefTitle }} </p>
            <p>Study Id: {{ study.nctId }} </p>
            <p>Date Saved: {{ study.save_date }}</p>
        </div>
    </a>
    {% empty %}
    <div class="shadow p-5 mt-5 mb-5 bg-white rounded" id="resultsTable" style="overflow: auto;">
        No saved studies yet.
    {% endfor %}
    </div>
{% endblock %}