

    <form id="save-search-form" class="mx-3">
        {% csrf_token %}
        <input type="hidden" id="query" name="search_dict" value="{{search_dict}}">
        <input type="hidden" id="query" name="query" value="{{search_dict.search_query}}">
        <i id="submitSearch" class="fa-regular fa-bookmark"></i>
    </form>


<script>
document.getElementById('submitSearch').addEventListener('click', function() {
    const form = document.getElementById('save-search-form');
    const messageDiv = document.getElementById('message');

    event.preventDefault();

    const formData = new FormData(form);

    fetch('{% url "save_search" %}', {
        method: 'POST',
        body: formData,
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            document.getElementById('submitSearch').classList.remove('fa-regular');
            document.getElementById('submitSearch').classList.add('fa-solid');
        } else {
            messageDiv.innerHTML = '<p class="error">' + data.message + '</p>';
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });

});
</script>

