

<i id="share_study_icon" class="fa-solid fa-share" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
</i>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Share This Search</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="share-search_form">
        {% csrf_token %}
        <div class="modal-body">
          <label for="exampleInputEmail1" class="form-label">Recipient Email Address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="test@test.com">
        </div>
        <div class="modal-footer">
          <div id="message"></div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>      
            <input type="hidden" id="query" name="query" value="{{search_dict.search_query}}">
            <button  id="share_btn" class="btn btn-primary" type="submit">Share</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
const form = document.getElementById('share-search_form');
const messageDiv = document.getElementById('message');
const shareButton = document.getElementById('share_btn');

form.addEventListener('submit', function(event) {
    event.preventDefault();

    const formData = new FormData(form);

    fetch('{% url "share_search" %}', {
        method: 'POST',
        body: formData,
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            messageDiv.innerHTML = '<p class="success">' + data.message + '</p>';
            shareButton.style.display = "none"
        } else {
            messageDiv.innerHTML = '<p class="error">' + data.message + '</p>';
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});
});
</script>

