<form id="share-search-form">
    {% csrf_token %}
    <input type="hidden" id="query" name="query" value="{{search_query}}">
    <button class="btn btn-primary" type="submit">Share</button>
</form>
<div id="message"></div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


<script>
document.addEventListener('DOMContentLoaded', function() {
const form = document.getElementById('share-search-form');
const messageDiv = document.getElementById('message');

form.addEventListener('submit', function(event) {
    event.preventDefault();

    const formData = new FormData(form);

    fetch('{% url "share_search" %}', {
        method: 'POST',
        body: formData,
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            messageDiv.innerHTML = '<p class="success">' + data.message + '</p>';
        } else {
            messageDiv.innerHTML = '<p class="error">' + data.message + '</p>';
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});
});
</script>

