{% extends 'main.html' %} 

{% block content %}

<div class="shadow p-5 mt-5 mb-5 bg-white rounded" id="resultsTable" style="overflow: auto;">
	<div class="center">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %} 
			<h2>Update Profile</h2>

			{% for field in form %}
			<p>
				{% if field.errors %}
				<ul class="errorlist">
					{% for error in field.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{{ field.label_tag }} {{ field }}
			</p>
			{% endfor %}
			
			<input type="submit" value="Update Profile" />
				
			<p>
				<a href="{%url 'password-reset' %}">Reset Password</a>
			</p>	
		
		</form>
	</div>
</div>
{% endblock content %}