/* styles.css */

.main-container {
    margin-top: 9em;
}

.saved_links {
    text-decoration: none;
    color: #000;
}

#submitSave {
    font-size: 2em; 
}

#submitSearch {
    font-size: 2em; 
}

#share_study_icon {
    font-size: 2em; 
}


.btn-trial {
    background-color: #F24B5C;
    color: #fff;
}

.btn-trial:hover {
    background-color: white;
    color: black;
    border: 2px solid #F24B5C;
}
