/* Styling for the login container */
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

/* Input field styling */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn-login {
    padding: 14px 20px;
    margin: 8px auto; /* Centers the button */
    width: 50%; /* Example width - adjust as needed */
    display: block; /* Makes margin auto effective */
}