{% load static %}


<nav id="mdb-navbar" class="  navbar fixed-top navbar-expand-lg navbar-light bg-white shadow rounded" >
    <div class="container-fluid">


        <a href="{% url 'home' %}" class="header__logo text-decoration-none">
            <img class="img-fluid" src="{% static 'apiconnect/images/logo.png' %}" style="width: 3em;" /> 
            <span>FindMyClinicalTrial</span>
        </a>
   
      <span id="dpl-navbar-new-right-buttons" class="navbar-nav ms-auto d-flex flex-row">
      <ul id="main-navbar" class="nav navbar-nav nav-flex-icons ml-auto ms-auto flex-row">

        <li class="nav-item m-2 me-lg-0 ">
            <a class="nav-link" href="/">
              <span class="d-none d-lg-inline-block">Home</span>
              <i class="fas fa-fire-alt d-inline-block d-lg-none"></i>
            </a>
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item m-2 me-lg-0 ">
          <a class="nav-link" href="{% url 'saved_searches' %}">
            <span class="d-none d-lg-inline-block">Saved</span>
            <i class="fas fa-fire-alt d-inline-block d-lg-none"></i>
          </a>
        </li>
        {% endif %}
        

        {% if request.user.is_authenticated %}
        <span class="m-3">{{request.user}}</span>
        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
        {% endif %}

      
    </div>
</nav>
<header class="header header--loggedIn">
    <div class="container">
        

        <form  method="GET" action="{% url 'home' %}">
            <label>
                <input type="text" name="q" placeholder="Search Rooms..." />
            </label>
        </form>



    </div>
</header>